{% extends "main_template.html" %}

{% block title %}
    تاریخچه
{% endblock  %}

{% block content %}
    <h2>پیشینه باغ فردوس تهران</h2>
    <br>
    <hr>
    <img src="{{ media_url }}images/slider/dar_bagh.jpg" alt="تصویر">
    <hr>
    <br>
    <p style="font-family: Koodak; font-size: 20px">بعد از مرگ معیر الممالک باغ به پسرش دوستعلی خان رسید، اما وی علاقه‌ای به حفظ باغ نداشت و هروقت به ییلاق می‌آمد خیمه خود را زیر درختان چنار باغ برپا می‌کرد و حتی سنگ‌های مرمر بنا را از جا کند و در نمای عمارت امیریه یا مدرسه نظام فعلی به کار برد. تا اینکه تاجری شیرازی به نام حاجی میرزا حسین این باغ را از دوستعلی خرید و آن را تعمیر کرد. بعد از حاجی میرزا، افرادی چون میرزا حسین تهرانی، میرزا اسماعیل خان امین الممالک و محمد ولی خان سپهسالار تنکابنی، باغ فردوس را صاحب آن شدند. محمد ولی خان عمارت و باغ را آباد و قنات آن را دایر کرد و چند استخر و فواره نیز در جای‌جای باغ احداث کرد، اما از آن جایی که تجارتخانه طومانیانس از وی طلبکار بود باغ را به تصاحب خود درآورد. پس از چندی دولت وقت در مقابل وجهی که از طومانیانس طلبکار بود، آن را ضبط کرد و اراضی‌اش را متری دو تومان و سه تومان به کارمندان وزارتخانه فروخت. ‎
در دوران پهلوی باغ فردوس سرنوشت جدیدی پیدا کرد. در سال ۱۳۱۶، به دستور علی اصغر حکمت، وزیر معارف آن زمان، باغ فردوس خریداری، عمارت آن مرمت و دبیرستان شاپور تجریش در آن دایر شد. در دوران پهلوی دوم، این باغ به مکانی برای جشن‌های ۲۵۰۰ اختصاص یافت. پس از انقلاب نیز مدتی در اختیار صدا و سیما و وزارت فرهنگ و ارشاد اسلامی بود. تا اینکه بنیاد سینمایی فارابی، سازمان میراث فرهنگی کشور و شهرداری تهران آن را برای موزه سینما در نظر گرفتند و سرانجام در شهریورماه سال ۱۳۸۱ باغ فردوس داستان جدید زندگی‌اش را شروع کرد و به باغ موزه فردوس یا موزه سینمای ایران تبدیل شد.

از باغ‌های اشرافی این منطقه تنها عمارتی باقی مانده است که به آن باغ فردوس گفته می‌شود و در اختیار موزه سینما قرار دارد. سایر زمین‌های این باغ نیز تفکیک شده‌اند و تغییر کاربری پیدا کرده‌اند. بخشی از آن‌ها به ساختمان‌های مسکونی و مدرسه تبدیل شده‌اند و قسمتی دیگر به موسسه باستان‌شناسی دانشگاه تهران و لغت نامه دهخدا اختصاص داده شده است. </p>

{% endblock %}