{% extends "main_template.html" %}

{% block title %}
    تماس با ما
{% endblock  %}

{% block content %}
    <h2>باغ فردوس تهران کجاست؟</h2>
    <br>
    <p class="fontF">باغ موزه فردوس در شمال شهر تهران و در محله‌ای با صفا به نام باغ فردوس است. این محله قاجاری از شمال به میدان تجریش ابتدای خیابان ولیعصر، از جنوب به توتونچی، از شرق به خیابان‌ دربندی و از غرب به خیابان ولیعصر منتهی می‌شود.</p>
    <br>
    <hr>
    <br>
    <h2>مسیر دسترسی به باغ فردوس تهران:</h2>
    <br>
    <ul class="fontF">
        <li >
            برای رسیدن به موزه سینما می‌توانید در خط یک مترو به ایستگاه تجریش رفته و پس از خروج از ایستگاه در میدان قدس، با ۲۰ دقیقه پیاده‌روی در خیابان ولیعصر به‌سمت جنوب، به عمارت باغ فردوس برسید، یا اینکه این مسیر را با تاکسی یا بی آر تی طی کنید.
        </li>
        <br>
        <li>
            اگر قصد استفاده از بی آر تی را دارید، می‌توانید از اتوبوس‌های مسیر تجریش - راه‌آهن استفاده کنید و در ایستگاه باغ فردوس از اتوبوس پیاده شده و به این باغ بروید.
        </li>
        <br>
        <li>
            با مینی‌بوس‌های خط تجریش به ولنجک به خیابان ولیعصر رفته و روبه‌روی باغ از آن پیاده شوید.
        </li>
        <br>
        <li>اگر با ماشین شخصی به باغ فردوس می‌روید، بهتر است بدانید پیداکردن جای پارک مشکل است و بهتر است اتومبیل خود را در یکی از کوچه‌های اطراف پارک کنید. نزدیک‌ترین پارکینگ عمومی، در میدان تجریش واقع شده است.</li>

    </ul>
    <br>
    <hr>
    <h2>ارسال پیام:</h2>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <input class="btn-success btn " type="submit" value="ارسال پیام">
    </form>
{% endblock %}