<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>معرفی باغ</h3>
                        <ul>
                            <li><a href="#">تاریخچه</a></li>
                            <li><a href="#">بخش های باغ</a></li>
                            <li><a href="#">برنامه و قوانین</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>آموزش و پژوهش</h3>
                        <ul>
                            <li><a href="#">مقالات</a></li>
                            <li><a href="#">کارگاه های آموزشی</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>باغ فردوس</h3>
                        <p>باغ فردوس که با نام باغ موزه فردوس، باغ معیری و موزه سینما نیز شناخته می‌شود؛ یکی از باغ‌ها و جاهای دیدنی تهران است که در محله خوش آب‌وهوای باغ فردوس در شمال این شهر قرار دارد. این باغ در سال ۱۳۸۱ به موزه سینمای ایران تبدیل شده است.
                            قدمت این باغ به دوران قاجار و پادشاهی محمد شاه می‌رسد و از آثار ملی کشور محسوب می‌شود.</p>
                    </div>
                </div>
                <p class="copyright">ساخته شده توسط امیرحسین اعجازی 2023</p>
            </div>
        </footer>
    </div>