<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">باغ فردوس</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-lg-5">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "main:index" %} ">صفحه اصلی<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          معرفی باغ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'places:history'%}">تاریخچه</a>
          <a class="dropdown-item" href="{% url 'places:parts'%}">بخش های باغ</a>
          <a class="dropdown-item" href="{% url 'places:path_file'%}">مسیر یابی</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'places:time_rules' %}">برنامه و قوانین</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">گالری</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">خاطرات بازدید</a>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          آموزش و پژوهش
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'articles:show_articles'%}">مقالات</a>
          <a class="dropdown-item" href="{% url 'workshop:show_workshops'%}">کارگاه های آموزشی</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'places:contact' %}">تماس با ما</a>
      </li>
    </ul>
      {% include 'partial/login_state.html' %}
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>