{% extends "main_template.html" %}

{% block title %}باغ فردوس{% endblock title %}
{% block content %}
    <h2>معرفی باغ فردوس تهران</h2>
    <hr>
    {% include 'partial/slider.html' %}
    <hr>
    <p style="font-family: Koodak; font-size: 20px">باغ فردوس که با نام باغ موزه فردوس، باغ معیری و موزه سینما نیز شناخته می‌شود؛ یکی از باغ‌ها و جاهای دیدنی تهران است که در محله خوش آب‌وهوای باغ فردوس در شمال این شهر قرار دارد. این باغ در سال ۱۳۸۱ به موزه سینمای ایران تبدیل شده است.
        قدمت این باغ به دوران قاجار و پادشاهی محمد شاه می‌رسد و از آثار ملی کشور محسوب می‌شود.</p>
{% endblock content %}
